$success: #40B475;
$warning: #F0B739;

$link-text: #576F96;

$main-text: #303133;
$normal-text: #606266;
$sub-text: #909399;
$placeholder: #C0C4CC;

$large-text-size: 18px;
$main-text-size: 16px;
$normal-text-size: 14px;
$small-text-size: 12px;
